@page "/"

@inject IJSRuntime JSRuntime
@using Bluewater.UseCases.Positions;
@using Bluewater.UseCases.Positions.List;
@using Bluewater.UseCases.Sections;
@using Bluewater.UseCases.Sections.List;
@using Bluewater.UseCases.Departments;
@using Bluewater.UseCases.Departments.List;
@using Bluewater.UseCases.Divisions;
@using Bluewater.UseCases.Divisions.List;
@using Bluewater.UseCases.Chargings;
@using Bluewater.UseCases.Chargings.List;
@using Bluewater.UseCases.Holidays;
@using Bluewater.UseCases.Holidays.List;
@using Bluewater.UseCases.EmployeeTypes;
@using Bluewater.UseCases.EmployeeTypes.List;
@using Bluewater.UseCases.Levels;
@using Bluewater.UseCases.Levels.List;
@using Bluewater.Server.Global;

@using MediatR;
@inject IServiceScopeFactory ServiceScopeFactory
@inject IMediator Mediator
@inject IGlobalService GlobalService


<style>
    .welcome-container {
        text-align: left;
        padding: 20px;
        max-width: 100%;
    }
    h1 {
        color: #0077be;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        line-height: 1.6;
    }
</style>

<PageTitle>Home</PageTitle>

    <div class="welcome-container">
        <h1>Welcome to the Human Resource Management System of Bluewater Maribago</h1>
        <p>
At Bluewater Maribago, we recognize that our people are our greatest asset, and we are dedicated to creating an environment where every team member feels empowered, supported, and valued. Our Human Resource Management System is here to streamline your daily operations, helping you manage employee records, performance evaluations, payroll, and benefits—all in one centralized platform.

This system is designed to offer you unparalleled convenience, efficiency, and transparency, giving you quick access to the resources and tools you need to succeed in your role. Whether you are managing employee schedules, facilitating training programs, or tracking career development, our platform ensures you have the data and insights required to make informed decisions that drive the success of our team.

At Bluewater Maribago, we are committed to fostering a workplace culture that nurtures growth, collaboration, and innovation. Through this platform, we aim to enhance your experience, making HR processes more streamlined so that you can focus on what truly matters—developing our people and elevating the employee experience.

Explore, engage, and empower—this platform is your key to unlocking a more efficient, modern, and proactive approach to Human Resource management. Welcome to the future of HR at Bluewater Maribago!
        </p>
    </div>
    
@if (isBusy)
{
    <div class="overlay">
        <FluentProgressRing />
    </div>
}

@code {
    private bool isBusy = false;
    public IQueryable<DivisionDTO> Divisions { get; set; } = default!;
    public IQueryable<DepartmentDTO> Departments { get; set; } = default!;
    public IQueryable<SectionDTO> Sections { get; set; } = default!;
    public IQueryable<PositionDTO> Positions { get; set; } = default!;
    public IQueryable<ChargingDTO> Chargings { get; set; } = default!;
    public IQueryable<HolidayDTO> Holidays { get; set; } = default!;
    public IQueryable<EmployeeTypeDTO> EmployeeTypes { get; set; } = default!;
    public IQueryable<LevelDTO> Levels { get; set; } = default!;    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isBusy = true;
            await GlobalService.LoadDataAsync();
        }
        catch (Exception)
        {
            throw;
        }
        finally{
            isBusy = false;
        }
    }
}