@page "/"
@inject IJSRuntime JSRuntime
@using Bluewater.UseCases.Positions;
@using Bluewater.UseCases.Positions.List;
@using Bluewater.UseCases.Sections;
@using Bluewater.UseCases.Sections.List;
@using Bluewater.UseCases.Departments;
@using Bluewater.UseCases.Departments.List;
@using Bluewater.UseCases.Divisions;
@using Bluewater.UseCases.Divisions.List;
@using Bluewater.UseCases.Chargings;
@using Bluewater.UseCases.Chargings.List;
@using Bluewater.UseCases.Holidays;
@using Bluewater.UseCases.Holidays.List;
@using Bluewater.UseCases.EmployeeTypes;
@using Bluewater.UseCases.EmployeeTypes.List;
@using Bluewater.UseCases.Levels;
@using Bluewater.UseCases.Levels.List;
@using Bluewater.Server.Global;

@using MediatR;
@inject IServiceScopeFactory ServiceScopeFactory
@inject IMediator Mediator
@inject IGlobalService GlobalService


<style>
    .welcome-container {
        text-align: center;
        padding: 20px;
        max-width: 100%;
    }
    h1 {
        color: #0077be;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        line-height: 1.6;
    }
</style>

<PageTitle>Home</PageTitle>

    <div class="welcome-container">
        <h1>Welcome to Bluewater Maribago HRMS</h1>
        <p>
            Welcome to the Human Resource Management System of Bluewater Maribago. 
            This platform is designed to streamline our HR processes and provide 
            you with easy access to important information and resources. We're 
            committed to supporting your professional journey and enhancing your 
            experience as a valued member of our team.
        </p>
    </div>
    
@if (isBusy)
{
    <div class="overlay">
        <FluentProgressRing />
    </div>
}

@code {
    private bool isBusy = false;
    public IQueryable<DivisionDTO> Divisions { get; set; } = default!;
    public IQueryable<DepartmentDTO> Departments { get; set; } = default!;
    public IQueryable<SectionDTO> Sections { get; set; } = default!;
    public IQueryable<PositionDTO> Positions { get; set; } = default!;
    public IQueryable<ChargingDTO> Chargings { get; set; } = default!;
    public IQueryable<HolidayDTO> Holidays { get; set; } = default!;
    public IQueryable<EmployeeTypeDTO> EmployeeTypes { get; set; } = default!;
    public IQueryable<LevelDTO> Levels { get; set; } = default!;    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isBusy = true;
            await GlobalService.LoadDataAsync();
        }
        catch (Exception)
        {
            throw;
        }
        finally{
            isBusy = false;
        }
    }
}